/* font */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap');
@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*Keyframes*/
@keyframes glitch1 {
  0% {
    transform: none;
    opacity: 1;
  }
  7% {
    transform: skew(-0.5deg, -0.9deg);
    opacity: 0.75;
  }
  10% {
    transform: none;
    opacity: 1;
  }
  27% {
    transform: none;
    opacity: 1;
  }
  30% {
    transform: skew(0.8deg, -0.1deg);
    opacity: 0.75;
  }
  35% {
    transform: none;
    opacity: 1;
  }
  52% {
    transform: none;
    opacity: 1;
  }
  55% {
    transform: skew(-1deg, 0.2deg);
    opacity: 0.75;
  }
  50% {
    transform: none;
    opacity: 1;
  }
  72% {
    transform: none;
    opacity: 1;
  }
  75% {
    transform: skew(0.4deg, 1deg);
    opacity: 0.75;
  }
  80% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}
@keyframes glitch2 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(-2px, -3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(-5px, -2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(-5px, -1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(-2px, -6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}
@keyframes glitch3 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(2px, 3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(5px, 2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(5px, 1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(2px, 6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
*{
    padding: 0;
    margin: 0;
}
main{
    background-color: #0D1117;
    display: flex;
    width: 100%;
    height: max-content;
}
.mainbox1{
    background-color: #0D1117;
    width: 30%;
    height: 100%;
    
}
.mainbox1_profile{
    background-color: #0D1117;
    /* position: fixed; */
    width: 100%;
    height: 100%;
}
.mainbox1_profile_img_box{
    margin-top: 3vw;
    display: flex;
    margin-left: 6vw;
    justify-content: center;
    flex-direction: column;
    width: 80%;
   
}
.mainbox1_profile_img{
    z-index: 2;
    background-color: #E3EAF0;
    width: 80%;
    border-radius: 50%;
}
.mainbox1_profile_span_box{
    margin-top: 1vw;
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 65%;
    
}
.mainbox1_profile_span1{
  width: max-content;
    font-size: 2vw;
    color: #E3EAF0;
}
.mainbox1_profile_span2{
   width: max-content;
    font-size: 1.5vw;
    color: #7D8591;
}
.mainbox1_profile_text_box{
    display: flex;
    justify-content: end;
    /* background-color: aquamarine; */
    width: 100%;
    height: 30vw;
}
.mainbox1_profile_text{
    margin-right: 3vw;
    display: flex;
    flex-direction: column;
    /* background-color: darkblue; */
    width: 70%;
}
.mainbox1_editbox{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 2.5vw;
    border-radius: 10px;
    background-color: #21262D;
    border: 2px solid #21262D;
    color: #E3EAF0;
    font-size: 1vw;
    font-style: bold;
    margin-bottom: 2vw;
}
.mainbox1_editbox:hover{
    background-color: #30363D;
    color: #C9D1D9;
    border: 2px solid #8C949E;
}
.mainbox1_profile_text_span{
    font-size: 1vw;
    display: flex;
    align-items: center;
    color: #E3EAF0;
    margin-bottom: 0.5vw;
}
.mainbox1_profile_text_span_img{
    width: 8%;
    margin-right: 0.5vw;
}
.mainbox1_hr{
    border: 1px solid #21262D;
}
.mainbox2_container{
    margin-top: 2vw;
    display: flex;
    align-items: center;
    background-color: #0D1117;
    width: 70%;
    height: 100%;
}
.mainbox1_profile_text_span2{
    font-size: 1.5vw;
    color: #E3EAF0;
}
.mainbox1_organizations_box{
    display: flex;
    align-items: center;
    width: 100%;
    height: 3vw;
}
.mainbox1_organizations{
    margin-left: 0.3vw;
    border-radius: 5px;
    background-color: #ffffff;
    width: 2.5vw;
    height: 2.5vw;
}
.mainbox1_organizations_img{
    width: 100%;
    height: 100%;
    border-radius: 0.375rem;
}
.mainbox2{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    width: 85%;
    height: 99%;
    border: 1px solid #21262D;
    border-radius: 0.375rem;
}
.mainbox2_color_box{
    margin-top: 1vw;
    width: 95%;
    height: 26vw;
}
.mainbox2_color_text{
  margin-top: 1vw;
  display: flex;
  align-items: center;
  width: 95%;
    color: #E3EAF0;
    font-size: 0.9vw;
    
}
.mainbox2_color_img_box{
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
}
#bg {
  transition: all 2s ease-out;
  background: #006064;
}


.mainbox2_color_img{
    margin-top: 2vw;
    width: 100%;
}

.mainbox2_text_box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: max-content;
    margin-bottom: 3vw;
}

.mainbox2_text_box_span{
    color: #E3EAF0;
    font-size: 4vw;
    font-family: 'SBAggroB';
}

.mainbox2_btn_box{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 5vw;
    margin-bottom: 2vw;
}

.mainbox2_btn{
    /* background-color: #238636; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15vw;
    height: 3vw;
    border: 2px solid #21262D;
    color: #E3EAF0;
    border-radius: 0.5vw;
    font-size: 1.5vw;
}
footer{
  width: 100%;
  height: 25vh;
  background-color: #0e26db;
}

/*-------*/
#container {
    position: absolute;
    width: 70vw;
    margin: 30vw auto;
    margin-bottom: 35vw;
  }
  
  h1 {
    text-align: center;
    color: #060606;
    font-size: 5vw;
    letter-spacing: 8px;
    font-weight: 400;
    font-family: 'SBAggroB';
    /*Create overlap*/
    
    margin: 0;
    line-height: 0;
    /*Animation*/
    
    animation: glitch1 2.5s infinite;
  }
  
  h1:nth-child(2) {
    color: #0e26db;
    animation: glitch2 2.5s infinite;
  }
  
  h1:nth-child(3) {
    color: #f16f6f;
    animation: glitch3 2.5s infinite;
  }
  


  .section1{
    display: flex;
    flex-wrap: wrap;
    background-color: #0D1117;
    width: 100%;
    height: max-content;
  }
  .section1_box1,
  .section1_box2{
    background-color: #0D1117;
    width: 50%;
    height: 70vh
  }
  .section1_box1{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .section1_box1_text{
    color: #E3EAF0;
    font-size: 2vw;
    margin-left: 2vw;
  }
  .section1_box1_text1{
    color: #E3EAF0;
    font-size: 1.5vw;
    margin-left: 2vw;
  }
  .section1_box2_title{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .section1_box2_title_text{
    font-size: 3vw;
    color: #E3EAF0;
    font-family: 'SBAggroB';

  }
  #box1,#box2{
    margin-left: 5vw;
    width: 85%;
    height: max-content;
  }
  .text1,.text2{
    font-size: 1.5vw;
    font-weight: bold;
    color: white;
    font-family: 'SBAggroB';
  }
  .text1{
    font-size: 2vw;
  }
  .blink1,.blink2 {
    animation: blink 0.5s infinite;
  }
  @keyframes blink {
    to {
      opacity: 0;
    }
  }
  
.wrap{
  color: #E3EAF0;
  font-family: 'SBAggroB';
}

.tags-cloud {
 position: relative;
  /* top: calc(50% - 30vmin); */
  left: calc(50% - 40vmin);
  height: 60vmin;
  width: 60vmin;
  list-style: none;
  opacity: 0;
}

.tags-cloud.-loaded {
  animation: fadeIn 1s ease-out forwards;
}

.tags-cloud > .tag {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 5vmin;
  font-weight: bold;
  /* transition: transform .5s linear, opacity .5s linear; */
}

.tags-cloud > .tag > .wrap {
  display: inline-block;
  /* transform: translateX(-50%) translateY(-50%); */
}

.section2{
  width: 100%;
  height: 100vh;
  background-color: #0D1117;
}

.tabs {
  position:relative;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:80vw;
  height:35vw;
  background:#0D1117;
  padding:20px 30px;
  overflow:hidden;
  border-radius:50px;
  border: 2px solid #21262D;
  /* box-shadow:5px 10px 5px #ccc; */
}
.tabs .tab-header {
  height:60px;
  display:flex;
  align-items:center;
}
.tabs .tab-header > div {
  width:calc(100% / 4);
  text-align:center;
  color:#888;
  font-weight:600;
  cursor:pointer;
  font-size:14px;
  text-transform:uppercase;
  outline:none;
}
.tabs .tab-header > div > i {
  display:block;
  margin-bottom:5px;
}
.tabs .tab-header > div.active {
  color:#f78266;
}
.tabs .tab-indicator {
  position:relative;
  width:calc(100% / 4);
  height:5px;
  background:#f78266;
  left:0px;
  border-radius:5px;
  transition:all 500ms ease-in-out;
}
.tabs .tab-body {
  position:relative;
  height:calc(100% - 60px);
  padding:10px 5px;
}
.tabs .tab-body > div {
  position:absolute;
  top:-200%;
  opacity:0;
  transform:scale(0.9);
  transition:opacity 500ms ease-in-out 0ms,
    transform 500ms ease-in-out 0ms;
}
.tabs .tab-body > div.active {
  top:0px;
  opacity:1;
  transform:scale(1);
}
.tabtitle{
  font-size: 1.5vw;
}
.tabh2{
  margin-top: 2vw;
  font-size: 2vw;
  color:#888;
}
.tabtext{
  margin-top: 2vw;
  color:#E3EAF0;
  font-size: 2vw;
  font-family: 'SBAggroB';
}


/* 반응형 부분 */
@media screen and (max-width: 767px){
  main{
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mainbox1{
    width: 100%;
    height: max-content;
  }
  .mainbox1_profile{
    width: 100%;
    height: max-content;
  }
  .mainbox1_profile_img_box{
    height: max-content;
    width: 100%;
    height: 25vw;
    display: flex;
    flex-direction: row;
    margin-left: 0;
    justify-content: start;
    align-items: center;
  }
  .mainbox1_profile_span_box{
    margin-left:5vw;
    width: max-content;
  }
  .mainbox1_profile_span1{
    font-size: 4vw;
  }
  .mainbox1_profile_span2{
    font-size: 3.5vw;
  }
  .mainbox1_profile_text{
   justify-content: center;
   align-items: center;
  }
  .mainbox1_profile_img{
    margin-left: 5vw;
    width: 15%;
  }
  .mainbox1_profile_text_box{
    width: 100%;
    height: max-content;
    justify-content: center;
  }
  .mainbox1_profile_text{
    width: 90%;
    height: max-content;

  }
  .mainbox1_editbox{
    width: 100%;
    height: 7vw;
    font-size: 5vw;
  }
  .mainbox1_profile_text_span_box{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  .mainbox1_profile_text_span_img{
    width: 15%;
  }
  .mainbox1_profile_text_span{
    font-size: 3vw;
  }
  .mainbox1_profile_text_span2,
  .mainbox1_organizations_box{
    display: none;
  }
  .mainbox2_container{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

  }
  .mainbox2{
    height: 40vh;
    width: 95%;
    margin-bottom: 2vw;
    
  }
  .mainbox2_btn{
    width: 40%;
    height: 5vh;
    font-size: 5vw;
  }
  footer{
    height: 20vh;
  }
  
  .section1{
    display: flex;
   flex-direction: column;
   
  }
  .section1_box1{
    width: 100%;
    height: 50vh;
  }
  .section1_box2{
    width: 100%;
    height: 50vh;
  }
  .section1_box1{
    align-items: center;
    justify-content: center;
    height: 30vh;
  }
  #box1,#box2{
    margin-left: 1vw;
  }
  .text1{
    font-size: 9vw;
  }
  .text2{
    font-size: 4.5vw;
  }
  .section1_box2{
    align-items: center;
    height: 45vh;
  }
  .tabs{
    height: 80vh;
  }
}

