@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    padding: 0;
    margin: 0;
}

main{
    background-color: #0D1117;
    display: flex;
    width: 100%;
    height: max-content;
}
.mainbox1{
    background-color: #0D1117;
    width: 30%;
    height: 100%;
    
}
.mainbox1_profile{
    background-color: #0D1117;
    /* position: fixed; */
    width: 100%;
    height: 100%;
}
.mainbox1_profile_img_box{
    margin-top: 3vw;
    display: flex;
    margin-left: 6vw;
    justify-content: center;
    flex-direction: column;
    width: 80%;
   
}
.mainbox1_profile_img{
    z-index: 2;
    background-color: #E3EAF0;
    width: 80%;
    border-radius: 50%;
}
.mainbox1_profile_span_box{
    margin-top: 1vw;
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 65%;
    
}
.mainbox1_profile_span1{
  width: max-content;
    font-size: 2vw;
    color: #E3EAF0;
}
.mainbox1_profile_span2{
   width: max-content;
    font-size: 1.5vw;
    color: #7D8591;
}
.mainbox1_profile_text_box{
    display: flex;
    justify-content: end;
    /* background-color: aquamarine; */
    width: 100%;
    height: 30vw;
}
.mainbox1_profile_text{
    margin-right: 3vw;
    display: flex;
    flex-direction: column;
    /* background-color: darkblue; */
    width: 70%;
}
.mainbox1_editbox{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 2.5vw;
    border-radius: 10px;
    background-color: #21262D;
    border: 2px solid #21262D;
    color: #E3EAF0;
    font-size: 1vw;
    font-style: bold;
    margin-bottom: 2vw;
}
.mainbox1_editbox:hover{
    background-color: #30363D;
    color: #C9D1D9;
    border: 2px solid #8C949E;
}
.mainbox1_profile_text_span{
    font-size: 1vw;
    display: flex;
    align-items: center;
    color: #E3EAF0;
    margin-bottom: 0.5vw;
}
.mainbox1_profile_text_span_img{
    width: 8%;
    margin-right: 0.5vw;
}
.mainbox1_hr{
    border: 1px solid #21262D;
}
.mainbox2_container{
    margin-top: 2vw;
    display: flex;
    align-items: center;
    background-color: #0D1117;
    width: 70%;
    height: 100%;
}
.mainbox1_profile_text_span2{
    font-size: 1.5vw;
    color: #E3EAF0;
}
.mainbox1_organizations_box{
    display: flex;
    align-items: center;
    width: 100%;
    height: 3vw;
}
.mainbox1_organizations{
    margin-left: 0.3vw;
    border-radius: 5px;
    background-color: #ffffff;
    width: 2.5vw;
    height: 2.5vw;
}
.mainbox1_organizations_img{
    width: 100%;
    height: 100%;
    border-radius: 0.375rem;
}
.mainbox2{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    width: 85%;
    height: 99%;
    border: 1px solid #21262D;
    border-radius: 0.375rem;
}
.mainbox2_color_box{
    margin-top: 1vw;
    width: 95%;
    height: 26vw;
}
.mainbox2_color_text{
  margin-top: 1vw;
  display: flex;
  align-items: center;
  width: 95%;
    color: #E3EAF0;
    font-size: 0.9vw;
    
}
.mainbox2_color_img_box{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.mainbox2_color_img{
    margin-top: 2vw;
    width: 100%;
}

.mainbox2_text_box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: max-content;
    margin-bottom: 3vw;
}

.mainbox2_text_box_span{
    color: #E3EAF0;
    font-size: 4vw;
    font-family: 'SBAggroB';
}

.mainbox2_btn_box{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 5vw;
    margin-bottom: 2vw;
}

.mainbox2_btn{
    /* background-color: #238636; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15vw;
    height: 3vw;
    border: 2px solid #21262D;
    color: #E3EAF0;
    border-radius: 0.5vw;
    font-size: 1.5vw;
}

/*-------*/
#container {
    position: absolute;
    width: 70vw;
    margin: 30vw auto;
  }
  
  h1 {
    text-align: center;
    color: #060606;
    font-size: 5vw;
    letter-spacing: 8px;
    font-weight: 400;
    font-family: 'SBAggroB';
    /*Create overlap*/
    
    margin: 0;
    line-height: 0;
    /*Animation*/
    
    animation: glitch1 2.5s infinite;
  }
  
  h1:nth-child(2) {
    color: #0e26db;
    animation: glitch2 2.5s infinite;
  }
  
  h1:nth-child(3) {
    color: #f16f6f;
    animation: glitch3 2.5s infinite;
  }
  /*Keyframes*/
  
  @keyframes glitch1 {
    0% {
      transform: none;
      opacity: 1;
    }
    7% {
      transform: skew(-0.5deg, -0.9deg);
      opacity: 0.75;
    }
    10% {
      transform: none;
      opacity: 1;
    }
    27% {
      transform: none;
      opacity: 1;
    }
    30% {
      transform: skew(0.8deg, -0.1deg);
      opacity: 0.75;
    }
    35% {
      transform: none;
      opacity: 1;
    }
    52% {
      transform: none;
      opacity: 1;
    }
    55% {
      transform: skew(-1deg, 0.2deg);
      opacity: 0.75;
    }
    50% {
      transform: none;
      opacity: 1;
    }
    72% {
      transform: none;
      opacity: 1;
    }
    75% {
      transform: skew(0.4deg, 1deg);
      opacity: 0.75;
    }
    80% {
      transform: none;
      opacity: 1;
    }
    100% {
      transform: none;
      opacity: 1;
    }
  }
  
  @keyframes glitch2 {
    0% {
      transform: none;
      opacity: 0.25;
    }
    7% {
      transform: translate(-2px, -3px);
      opacity: 0.5;
    }
    10% {
      transform: none;
      opacity: 0.25;
    }
    27% {
      transform: none;
      opacity: 0.25;
    }
    30% {
      transform: translate(-5px, -2px);
      opacity: 0.5;
    }
    35% {
      transform: none;
      opacity: 0.25;
    }
    52% {
      transform: none;
      opacity: 0.25;
    }
    55% {
      transform: translate(-5px, -1px);
      opacity: 0.5;
    }
    50% {
      transform: none;
      opacity: 0.25;
    }
    72% {
      transform: none;
      opacity: 0.25;
    }
    75% {
      transform: translate(-2px, -6px);
      opacity: 0.5;
    }
    80% {
      transform: none;
      opacity: 0.25;
    }
    100% {
      transform: none;
      opacity: 0.25;
    }
  }
  
  @keyframes glitch3 {
    0% {
      transform: none;
      opacity: 0.25;
    }
    7% {
      transform: translate(2px, 3px);
      opacity: 0.5;
    }
    10% {
      transform: none;
      opacity: 0.25;
    }
    27% {
      transform: none;
      opacity: 0.25;
    }
    30% {
      transform: translate(5px, 2px);
      opacity: 0.5;
    }
    35% {
      transform: none;
      opacity: 0.25;
    }
    52% {
      transform: none;
      opacity: 0.25;
    }
    55% {
      transform: translate(5px, 1px);
      opacity: 0.5;
    }
    50% {
      transform: none;
      opacity: 0.25;
    }
    72% {
      transform: none;
      opacity: 0.25;
    }
    75% {
      transform: translate(2px, 6px);
      opacity: 0.5;
    }
    80% {
      transform: none;
      opacity: 0.25;
    }
    100% {
      transform: none;
      opacity: 0.25;
    }
  }
@media screen and (max-width: 767px){
  main{
    
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mainbox1{
    width: 100%;
    height: max-content;
  }
  .mainbox1_profile{
    width: 100%;
    height: max-content;
  }
  .mainbox1_profile_img_box{
    height: max-content;
    width: 100%;
    height: 30vw;
    display: flex;
    flex-direction: row;
    margin-left: 0;
    justify-content: start;
    align-items: center;
  }
  .mainbox1_profile_span_box{
    margin-left:5vw;
    width: max-content;
  }
  .mainbox1_profile_span1{
    font-size: 4vw;
  }
  .mainbox1_profile_span2{
    font-size: 3.5vw;
  }
  .mainbox1_profile_text{
   justify-content: center;
   align-items: center;
  }
  .mainbox1_profile_img{
    margin-left: 5vw;
    width: 15%;
  }
  .mainbox1_profile_text_box{
    width: 100%;
    height: max-content;
    justify-content: center;
  }
  .mainbox1_profile_text{
    width: 90%;
    height: max-content;

  }
  .mainbox1_editbox{
    width: 100%;
    height: 7vw;
  }
  .mainbox1_profile_text_span_box{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  .mainbox1_profile_text_span_img{
    width: 15%;
  }
  .mainbox1_profile_text_span{
    font-size: 3vw;
  }
  .mainbox1_profile_text_span2,
  .mainbox1_organizations_box{
    display: none;
  }
  .mainbox2_container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

  }
  .mainbox2{
    height: 100vw;
    width: 95%;
    margin-bottom: 2vw;
    
  }
  
}