*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'LeferiPoint-BlackA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.section3{
    background-color: #0D1117;
    display: flex;
    width: 100%;
    border: none;
   
}
.middle_title{
    border: none;
    width: 100%;
    background-color: #0D1117;
}
.project_title_box{
    margin-top: 2vw;
    border-radius: 0.375rem;
    background-color: #161b22;
    display: flex;
    flex-direction: column;
    width: 27%;
    height: 110vh;
    align-items: center;
}

.project_title_box_name{
    width: 100%;
    height: 6vw;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-style: bold;
}
.project_title_box_name_img{
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    margin-left: 2vw;
}
.project_title_box_name_text{
    margin-left: 0.5vw;
    font-size: 1vw;
    color: #E3EAF0;
}
.project_title_box_text{
    font-family: 'LeferiPoint-BlackA';
    color: #C9D1D9;
    font-size: 3.5vw;
    font-style:unset;
    margin: 2vw;
}
.project_top_box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.project_top_box_text{
    margin-left: 2vw;
    color: #E3EAF0;
    font-weight: 600;
    font-style: bold;
}
.project_top_newbox{
    border-radius: 0.375rem;
    margin-right: 2vw;
    display: flex;
    align-items: center;
    background-color: green;
    width: 4.5vw;
    height: 2.5vw;
}
.project_top_newbox_text{
    color: #E3EAF0;
    font-weight: 600;
    font-style: bold;
    font-size: 1vw;
}
.project_find{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5vw;
}
.project_find_box{
    display: flex;
    align-items: center;
    width: 85%;
    height: 2.5vw;
    background-color: #0D1117;
    border: 1px solid #30363D;
    border-radius: 0.375rem;
}

.project_repo{
    margin-top: 1vw;
    display: flex;
    align-items: center;
    width: 90%;
}
.project_repo_img_og{
    margin-left: 1vw;
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 50%;
}
.project_repo_img{
    margin-left: 1vw;
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 50%;
}
.project_repo_text{
    text-decoration-line: none;
    margin-left: 0.5vw;
    font-size: 1vw;
    color: #E3EAF0;
}
.project_repo_text:hover{
    text-decoration-line:underline;
}



.projectbox_container{
    display: flex;
    align-items: center;
    margin-top: 1vw;
    display: flex;
    align-items: center;
    background-color: #0D1117;
    width: 70%;
}
.project_find_box_text{
    font-size: 1vw;
    color: #424850;
    margin-left: 1vw;
}
.projectbox{
    margin-bottom: 1vw;
    margin-left: 2vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: max-content;
    border: 1px solid #21262D;
    border-radius: 0.375rem;
}
.projectbox_project1{
    margin-top: 1vw;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
    width: 95%;
    height: max-content;
}
.projectbox_project1_box{
    margin-bottom: 1vw;
    border-radius: 0.5vw;
    border: 1px solid #30363D;
    width: 40%;
    height: max-content;
}
.projectbox_project1_imgbox{
    border-radius: 0.5vw 0.5vw 0 0;
    width: 100%;
    height: 45%;
}
.projectbox_project1_img{
    border-radius: 0.5vw 0.5vw 0 0;
    width: 100%;
    height: 100%;
}
.projectbox_project1_textbox{
    display: flex;
    flex-direction: column;
     width: 100%;
    height: 35%;
}
.projectbox_project1_btnbox{
    margin-top: 1vw;
    margin-bottom: 1vw;
     width: 100%;
    height: 20%;
    display: flex;
   flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    border-radius:0 0 0.5vw 0.5vw ;
}
.projectbox_project1_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #E3EAF0;
    font-size: 1vw;
    width: 40%;
    height: 5vh;
    border-radius: 0.5vw ;
    border: 1px solid #30363D;
    text-decoration-line: none;
}
.projectbox_project1_texthead, 
.projectbox_project1_textinfo,
.projectbox_project1_textskill{
    margin-left: 1vw;
    color: #C9D1D9;
    font-size: 1vw;
}
.projectbox_project1_texthead,
.projectbox_project1_textskill{
    margin-top: 1vw;
    font-size: 1.2vw;
}

@media screen and (max-width: 767px){
    .section3{
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .project_title_box{
        width: 100%;
        height: max-content;
      }
     
    .projectbox_container{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .projectbox{
        width: 95%;
    }
    .projectbox_project1{
        flex-direction: column;
        align-items: center;
    }
    .projectbox_project1_box{
        width: 95%;
       max-height: 70vh;
        margin-top: 1vw;
    }
    .projectbox_project1_texthead{
        font-size: 7vw;
    }
    .projectbox_project1_textinfo{
        font-size: 4vw;
    }
    .projectbox_project1_textskill{
        font-size: 5vw;
    }
    .projectbox_project1_btn{
       min-height: 5vh;
        font-size: 5vw;

    }
    .project_title_box_text{
        font-size: 6vw;
    }
}